.wrapper{
    margin-top: 5px;
    .Search{
        height: 50px;
        background-color: red;
        margin: 0 5px;
        border-radius: 10px;
        background-color: var(--background-color);
        text-align: center;
        line-height: 1.6;
        h1{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
